td.t1	{
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: x-small;
	width:28%;
	height:40;
	vertical-align:top;
	padding-left: 1px;
	padding-top: 1px;
}
td.t2	{
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: x-small;
	width:72%;
	height:40;
	vertical-align:top;
	text-align:justify;
	padding-left: 1px;
	padding-top: 1px;
}