td.t1	{
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: x-small;
	width:40%;
	height:44;
	vertical-align:top;
	padding-left: 4px;
	padding-top: 4px;
}
td.t2	{
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: x-small;
	width:60%;
	height:44;
	vertical-align:top;
	text-align:justify;
	padding-left: 4px;
	padding-top: 4px;
}